<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489594900489-6d95npv6t2u1pds9252mmmau3gi3km02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489594900489-6d95npv6t2u1pds9252mmmau3gi3km02</string>
	<key>API_KEY</key>
	<string>AIzaSyDJZrjdZvg_cKX-VT1lZoGr-Gbg0AYXWTI</string>
	<key>GCM_SENDER_ID</key>
	<string>489594900489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tekim.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-14e98</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-14e98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489594900489:ios:87bb2c6745f4a0df98a8d8</string>
</dict>
</plist>